<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="/index/"  id="form1" method="post" enctype="multipart/form-data">

                    <label style="margin-left: 15%;"></label>
                     <div style="width: 600px; overflow: auto; margin-left: 15%; ">
                        <div style="float:left;">

                        </div>
                        <div style="float:left; margin: 0;">

                        </div>
                     </div>

                    <div class="btn" id="form_add" style="margin-top: 25px;margin-left: 12%; width: 200px;">Добавить Рейс<div>
                </form>
</body>
</html>